doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title index
  body
    h1 Index engine (moteur de rendu)
    nav
      ul
        li: a(href="/") Home
        li: a(href="/about") About
        li: a(href="/contact") Contact
    div.paragraph
      p This is a simple Pug template for the index page.
      p You can add more content here as needed.
      p For example, you can link to other pages or include additional information.
    script(src="/js/script.js")

